.arrivals {
    padding: 48px 0;
}

.arrivals__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 48px;
}

.arrivals__slider {
    display: flex;
    gap: 24px;
}