.timer {
    display: flex;
    gap: 16px;
    align-items: flex-start;
}

.timer__el {
    text-align: center;
}

.timer__value {
    background-color: #fefefe;
    width: 60px;
    height: 60px;
    line-height: 60px;
    color: #141718;
    font-family: var(--font-accent);
    font-size: 34px;
    font-weight: 500;
    letter-spacing: -0.6px;
}

.timer__desc {
    font-size: 12px;
    line-height: 20px;
    
}
